<!--Zoho Campaigns Web-Optin Form Starts Here-->

<div
  id="sf9975601b89e89dec88b3abbdfdb6994044b5077c3a9b178f"
  data-type="signupform"
  style="opacity: 1"
>
  <div id="customForm">
    <div
      class="quick_form_6_css"
      style="
        background-color: rgb(255, 255, 255);
        z-index: 2;
        font-family: Arial;
        border: 1px solid rgb(206, 206, 206);
        overflow: hidden;
        width: 1110px;
      "
      name="SIGNUP_BODY"
    >
      <div>
        <div
          style="
            font-size: 14px;
            font-family: 'Arial';
            font-weight: bold;
            color: rgb(85, 85, 85);
            text-align: left;
            margin: 15px 15px 5px;
            width: 100%;
            display: block;
          "
          id="SIGNUP_HEADING"
        >
          Dołącz do mojego newslettera i nie przegap żadnej nowości
        </div>
        <div style="position: relative">
          <div
            id="Zc_SignupSuccess"
            style="
              display: none;
              position: absolute;
              margin-left: 4%;
              width: 90%;
              background-color: white;
              padding: 3px;
              border: 3px solid rgb(194, 225, 154);
              margin-top: 10px;
              margin-bottom: 10px;
              word-break: break-all;
            "
          >
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td width="10%">
                    <img
                      class="successicon"
                      src="https://zc1.maillist-manage.eu/images/challangeiconenable.jpg"
                      align="absmiddle"
                    />
                  </td>
                  <td>
                    <span
                      id="signupSuccessMsg"
                      style="
                        color: rgb(73, 140, 132);
                        font-family: sans-serif;
                        font-size: 14px;
                        word-break: break-word;
                      "
                      >&nbsp;&nbsp;Thank you for Signing Up</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <form
          method="POST"
          id="zcampaignOptinForm"
          style="margin: 0px; width: 100%; text-align: center"
          action="https://maillist-manage.eu/weboptin.zc"
          target="_zcSignup"
        >
          <div
            style="
              background-color: rgb(255, 235, 232);
              padding: 10px;
              color: rgb(210, 0, 0);
              font-size: 11px;
              margin: 20px 10px 0px;
              border: 1px solid rgb(255, 217, 211);
              opacity: 1;
              display: none;
            "
            id="errorMsgDiv"
          >
            Please correct the marked field(s) below.
          </div>
          <div
            style="
              position: relative;
              height: 28px;
              display: inline-block;
              width: 331px;
            "
          >
            <div
              id="Zc_SignupSuccess"
              style="
                position: absolute;
                width: 87%;
                background-color: white;
                padding: 3px;
                border: 3px solid rgb(194, 225, 154);
                margin-bottom: 10px;
                word-break: break-all;
                opacity: 1;
                display: none;
              "
            >
              <div style="width: 20px; padding: 5px; display: table-cell">
                <img
                  class="successicon"
                  src="https://campaigns.zoho.com/images/challangeiconenable.jpg"
                  style="width: 20px"
                />
              </div>
              <div style="display: table-cell">
                <span
                  id="signupSuccessMsg"
                  style="
                    color: rgb(73, 140, 132);
                    font-family: sans-serif;
                    font-size: 14px;
                    line-height: 30px;
                    display: block;
                  "
                ></span>
              </div>
            </div>
            <div
              style="
                padding: 5px 0px;
                color: rgb(85, 85, 85);
                font-size: 12px;
                font-family: Arial;
                display: block;
                text-align: left;
              "
            >
              Email
            </div>
            <input
              type="text"
              style="
                font-size: 12px;
                border-width: 1px;
                border-color: rgb(214, 205, 205);
                border-style: solid;
                width: 100%;
                height: 100%;
                z-index: 4;
                outline: none;
                padding: 5px 10px;
                color: rgb(113, 106, 106);
                text-align: left;
                font-family: 'Arial';
                border-radius: 4px;
                background-color: rgb(246, 246, 246);
                box-sizing: border-box;
              "
              changeitem="SIGNUP_FORM_FIELD"
              name="CONTACT_EMAIL"
              id="EMBED_FORM_EMAIL_LABEL"
            />
          </div>
          <div
            style="
              position: relative;
              margin: 5px 0px 40px 10px;
              height: 28px;
              display: inline-block;
              width: 331px;
            "
          >
            <div
              style="
                padding: 5px 0px;
                color: rgb(85, 85, 85);
                font-size: 12px;
                font-family: Arial;
                display: block;
                text-align: left;
              "
            >
              Imię
            </div>
            <input
              type="text"
              style="
                font-size: 12px;
                border-width: 1px;
                border-color: rgb(214, 205, 205);
                border-style: solid;
                width: 100%;
                height: 100%;
                z-index: 4;
                outline: none;
                padding: 5px 10px;
                color: rgb(113, 106, 106);
                text-align: left;
                font-family: 'Arial';
                border-radius: 4px;
                background-color: rgb(246, 246, 246);
                box-sizing: border-box;
              "
              changeitem="SIGNUP_FORM_FIELD"
              name="LASTNAME"
              id="EMBED_FORM_NAME_LABEL"
            />
          </div>
          <div
            style="
              position: relative;
              width: 100px;
              height: 28px;
              margin: 0 0 15px 12px;
              display: inline-block;
            "
          >
            <input
              type="submit"
              style="
                text-align: center;
                width: 100%;
                height: 100%;
                z-index: 5;
                border: 0px;
                color: rgb(255, 255, 255);
                cursor: pointer;
                outline: none;
                font-size: 14px;
                background-color: rgb(97, 190, 255);
                border-radius: 4px;
              "
              name="SIGNUP_SUBMIT_BUTTON"
              id="zcWebOptin"
              value="Zapisz"
            />
          </div>
          <input type="hidden" id="fieldBorder" value="" />
          <input
            type="hidden"
            id="submitType"
            name="submitType"
            value="optinCustomView"
          />
          <input
            type="hidden"
            id="emailReportId"
            name="emailReportId"
            value=""
          />
          <input
            type="hidden"
            id="formType"
            name="formType"
            value="QuickForm"
          />
          <input type="hidden" name="zx" id="cmpZuid" value="14ac48c346" />
          <input type="hidden" name="zcvers" value="2.0" />
          <input
            type="hidden"
            name="oldListIds"
            id="allCheckedListIds"
            value=""
          />
          <input type="hidden" id="mode" name="mode" value="OptinCreateView" />
          <input type="hidden" id="zcld" name="zcld" value="1adf73a20b7cdd0" />
          <input type="hidden" id="document_domain" value="" />
          <input type="hidden" id="zc_Url" value="zc1.maillist-manage.eu" />
          <input type="hidden" id="new_optin_response_in" value="0" />
          <input type="hidden" id="duplicate_optin_response_in" value="0" />
          <input
            type="hidden"
            name="zc_trackCode"
            id="zc_trackCode"
            value="ZCFORMVIEW"
          />
          <input
            type="hidden"
            id="zc_formIx"
            name="zc_formIx"
            value="9975601b89e89dec88b3abbdfdb6994044b5077c3a9b178f"
          />
          <input type="hidden" id="viewFrom" value="URL_ACTION" />
          <input type="hidden" id="scriptless" name="scriptless" value="yes" />
        </form>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="signupFormType" value="QuickForm_Horizontal" />
<div
  id="zcOptinOverLay"
  oncontextmenu="return false"
  style="
    display: none;
    text-align: center;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 988px;
  "
></div>
<div
  id="zcOptinSuccessPopup"
  style="
    display: none;
    z-index: 9999;
    width: 800px;
    height: 40%;
    top: 84px;
    position: fixed;
    left: 26%;
    background-color: #ffffff;
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 10px #424242;
    padding: 35px;
  "
>
  <span
    style="
      position: absolute;
      top: -16px;
      right: -14px;
      z-index: 99999;
      cursor: pointer;
    "
    id="closeSuccess"
  >
    <img src="https://zc1.maillist-manage.eu/images/videoclose.png" />
  </span>
  <div id="zcOptinSuccessPanel"></div>
</div>
